<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceLOCSoap" />
                <binding name="WebServiceLOCParticipanteSoap" />
                <binding name="WebServiceLOCTPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54113/WebServiceLOC.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLOCSoap"
                contract="ServiceLOC.WebServiceLOCSoap" name="WebServiceLOCSoap" />
            <endpoint address="http://localhost:54113/WebServiceLOCParticipante.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLOCParticipanteSoap"
                contract="ServiceLOCParticipante.WebServiceLOCParticipanteSoap"
                name="WebServiceLOCParticipanteSoap" />
            <endpoint address="http://localhost:54113/WebServiceLOCTP.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLOCTPSoap"
                contract="ServiceLOCTP.WebServiceLOCTPSoap" name="WebServiceLOCTPSoap" />
        </client>
    </system.serviceModel>
</configuration>
